[Unitt]
Description=Start auto_copy.py script

[Service]
ExecStart=/usr/local/sbin/auto_copy_daemon.py
KillMode=mixed

[Install]
WantedBy=multi-user.target
